<div class="container container-md bg-light mt-2 container-fluid border rounded border-success p-3"
    style="--bs-bg-opacity: .9;">
    <div
        class="gradient-custom rounded-5 px-3 m-2 fs-5 fw-bold text-white d-flex align-items-center text-center justify-content-center">
        Filmes e Séries abordam violência contra mulher e incentivam denúncia
    </div>

    <div class="container text-center">
        <div class="row containeriframe">
            <!-- <div class="col"> -->
            <div class="fw-bold">Série Uma garota de muita sorte</div>
            <div class="ratio ratio-16x9 embed-responsive-item">
                <iframe src="https://www.youtube.com/embed/SNJUSJGsw2M?si=JTz_ebOGCmYHsjGp" title="YouTube video"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="row containeriframe">
            <!-- <div class="col"> -->
            <div class="fw-bold">Série Maid</div>
            <div class="ratio ratio-16x9 embed-responsive-item">
                <iframe src="https://www.youtube.com/embed/cLd0dN25i5g?si=wIUC8jhwcCt3kRtN" title="YouTube video"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="row containeriframe">

            <div class="fw-bold">Série Unbelievable ( Inacreditável)</div>
            <div class="ratio ratio-16x9 embed-responsive-item">
                <iframe src="https://www.youtube.com/embed/QTIkUzkbzQk?si=E9KMvNzPtzcWzopn" title="YouTube video"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="row containeriframe">
            <div class="fw-bold">Série Coisa mais Linda</div>
            <div class="ratio ratio-16x9 embed-responsive-item">
                <iframe src="https://www.youtube.com/embed/gi5pXrQhZxQ?si=mVo3w0WydxEQuFtm" title="YouTube video"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="row containeriframe">

            <div class="fw-bold">Série Bom dia, Verônica</div>
            <div class="ratio ratio-16x9 embed-responsive-item">
                <iframe src="https://www.youtube.com/embed/OmCnSsPLREQ?si=nxtEuzNjpOx9Ninv" title="YouTube video"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="row containeriframe">
            <div class="fw-bold">Documentário Ato Final </div>
            <div class="ratio ratio-16x9 embed-responsive-item">
                <iframe src="https://www.youtube.com/embed/50QzLaOqqyk?si=Rs9UDsVSvi2ytH4H" title="YouTube video"
                    allowfullscreen></iframe>
            </div>
        </div>


        <!-- 
    <ol class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Série Uma garota de muita sorte</div>
                <div class="containeriframe">
                    <iframe class="responsive-iframe"
                        src="https://www.youtube.com/embed/SNJUSJGsw2M?si=JTz_ebOGCmYHsjGp"></iframe>
                </div>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Série Maid</div>
                <div class="containeriframe">
                    <iframe class="responsive-iframe"
                        src="https://www.youtube.com/embed/cLd0dN25i5g?si=wIUC8jhwcCt3kRtN"></iframe>
                </div>

            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Série Unbelievable ( Inacreditável)</div>
                <div class="containeriframe">
                    <iframe class="responsive-iframe"
                        src="https://www.youtube.com/embed/QTIkUzkbzQk?si=E9KMvNzPtzcWzopn"></iframe>
                </div>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Série Coisa mais Linda</div>
                <div class="containeriframe">
                    <iframe class="responsive-iframe"
                        src="https://www.youtube.com/embed/gi5pXrQhZxQ?si=mVo3w0WydxEQuFtm"></iframe>
                </div>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Série Bom dia, Verônica</div>
                <div class="containeriframe">
                    <iframe class="responsive-iframe"
                        src="https://www.youtube.com/embed/OmCnSsPLREQ?si=nxtEuzNjpOx9Ninv"></iframe>
                </div>
                
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Documentário Ato Final </div>
                <div class="containeriframe">
                    <iframe class="responsive-iframe"
                        src="https://www.youtube.com/embed/50QzLaOqqyk?si=Rs9UDsVSvi2ytH4H"></iframe>
                </div>

            </div>
        </li>
    </ol> -->
        <p>Fonte:
            <br /> <a
                href="https://www.gazetadigital.com.br/editorias/cidades/sries-abordam-violncia-contra-mulher-e-incentivam-denncia/709985"
                target="_blank" rel="noopener noreferrer">Séries abordam violência contra mulher e incentivam
                denúncia</a>
            <br /><a
                href="https://www.agazeta.com.br/todaselas/filme-conta-historias-de-feminicidio-e-violencia-contra-a-mulher-no-es-1123"
                target="_blank" rel="noopener noreferrer">Filme conta histórias de feminicídio e violência contra a
                mulher
                no ES</a>
        </p>

    </div>
</div>