/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html,
body {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    
    /* background-color: papayawhip; */
    margin: 0 auto;
    background: url('/assets/img/bg.png')no-repeat center center fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover; 
    background-size: cover;
}