<div class="container container-md bg-light mt-2 container-fluid border rounded border-success p-3"
    style="--bs-bg-opacity: .9;">
    <div class="gradient-custom rounded-5 m-2 fs-5 fw-bold text-white d-flex align-items-center justify-content-center">
        Em caso de Perigo
    </div>
    <p class="text-center"><img src="../../assets/img/clipart489161.png" alt="">190 - Polícia Militar<br />
        <img src="../../assets/img/clipart489161.png" alt=""> 153 - Guarda Municipal
    </p>
    <div class="gradient-custom rounded-5 m-2 fs-5 fw-bold text-white d-flex align-items-center justify-content-center">
        Orientação
    </div>
    <p class="text-center"> <a href="https://web.whatsapp.com/send/?phone=5567992382831" target="_blank"
            rel="noopener noreferrer"><img src="../../assets/img/32px-WhatsApp.svg.png" alt="">Ministério Público MS -
            (67)992382831</a></p>
</div>