<div class="container container-md bg-light mt-2  rounded border border-success p-3" style="--bs-bg-opacity: .85;">
   <img src="./assets/img/clipart489161.png">
    <div class="gradient-custom rounded-5 m-2 fs-5 fw-bold text-white d-flex align-items-center text-center">
        Acesse os links abaixo para conhecer a Legislação
    </div>
    <ol class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold"><a target="_blank" href="https://www.planalto.gov.br/ccivil_03/_ato2004-2006/2006/lei/l11340.htm"> Lei Maria da Penha - LEI Nº 11.340, DE 7 DE AGOSTO DE 2006</a></div>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold"><a target="_blank" href="https://www.planalto.gov.br/ccivil_03/_ato2011-2014/2012/lei/l12737.htm"> Lei Carolina Dieckmann - LEI Nº 12.737, DE 30 DE NOVEMBRO DE 2012.</a></div>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold"><a target="_blank" href="https://www.planalto.gov.br/ccivil_03/_ato2023-2026/2023/lei/l14786.htm">  Protocolo “Não é Não” - LEI Nº 14.786, DE 28 DE DEZEMBRO DE 2023.</a></div>
            </div>
        </li>
    </ol>

</div>