/* You can add global styles to this file, and also import other style files */

a {
  text-decoration: none;
  color: #014651;
}

a:hover {
  color: rgba(10, 155, 140);
}
.gradient-custom {
    /* fallback for old browsers */
    background: rgb(1, 68, 79);
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(1, 68, 79), rgba(10, 155, 140));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(1, 68, 79), rgba(10, 155, 140))
  }