<div class="container container-md bg-light mt-2 container-fluid border rounded border-success p-3"
    style="--bs-bg-opacity: .9;"> 
    <div class="gradient-custom rounded-5 m-2 fs-5 fw-bold text-white d-flex align-items-center justify-content-center">
        Formas de violência contra a mulher
    </div>
<div>

</div>
    <ol class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Psicológica</div>
                Humilhar, Insultar, Isolar, Perseguir, Ameaçar...
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start mt-2">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Patrimônial</div>
                Reter, subtrair ou destruir objetos e bens pessoais, controlar o seu dinheiro...
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start mt-2">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Sexual</div>
                Estuprar, assediar, impedir o uro do preservativo, forçar a relação...
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start mt-2">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Física</div>
                Empurrar, Chutar, Amarrar, Bater, Violentar...
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start mt-2">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Moral</div>
                Caluniar, injuriar, difamar...
            </div>
        </li>
    </ol>
    <!--  <ul class="list-group">
        <li class="list-group-item">Psicológica
            <ul class="list-group">
                <li>

                </li>
            </ul>
        </li>
        <li class="list-group-item">Patrimônial</li>
        <li class="list-group-item">Sexual</li>
        <li class="list-group-item">Física</li>
        <li class="list-group-item">Moral</li>
    </ul> -->

</div>